* {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 5px;
}

/* Responsive 375 x 570 */

.logo {
    padding: 20px 0 12px;
}

.carousel-item {
    height: 12rem;
}

.row {
    margin: 0;
}

.main {
    margin: 0;
    padding: 20px 0;
}

.foto {
    padding-left: 0;
}

.main .tentang-trah {
    padding: 0;
    background: rgba(122, 122, 122, 0.678);
}

.about-trah-text {
    padding: 10px 14px 0 14px;
    margin: 0;
    font-family: sans-serif;
    font-size: .7rem;
    font-weight: 100;
    text-align: start;
}

span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
}

.more-detail {
    font-family: sans-serif;
    font-size: 0.7rem;
    text-align: right;
}

.trah {
    padding: 0;
}

.trah img {
    height: 1rem;
}